@model IEnumerable<GGStore.Models.Order>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

<p>
    <a href="@Url.Action("Create", "Orders")" class="btn btn-primary">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderDetails)</th>
            <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderDetails</td>
                <td>@item.OrderDate</td>
                <td>
                    <a href="@Url.Action("Edit", "Orders", new { id = item.Id })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Delete", "Orders", new { id = item.Id })" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
