@model GGStore.Models.Product

@{
    ViewData["Title"] = "Detalles del Producto";
}

<div class="container">
    <h1>@Model.Name</h1>
    <img src="@Url.Content("~/images/" + Model.ImageUrl)" alt="@Model.Name" />
    <p>@Model.Description</p>
    <p>Precio: $@Model.Price</p>
    <a href="@Url.Action("Index", "Products")" class="btn btn-primary">Volver al Catálogo</a>
</div>
