@model IEnumerable<ProyectoGGStore.Models.ApplicationUser>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a href="@Url.Action("Create", "Users")" class="btn btn-primary">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <a href="@Url.Action("Edit", "Users", new { id = item.Id })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Delete", "Users", new { id = item.Id })" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
